@page "/films"
@using FilmService

<PageTitle>Films</PageTitle>

<h1>Films</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Answer from service: @ServerAnswer</p>

<button class="btn btn-primary" @onclick="(() => IncrementCount())">Click me</button>

@code {
    
	static GrpcChannel channel = GrpcChannel.ForAddress("http://localhost:5136");
	Greeter.GreeterClient client = new Greeter.GreeterClient(channel);
	private int currentCount = 0;

	private async Task IncrementCount()
	{
		currentCount++;
		await GetServerAnswerAsync();
	}

	private string ServerAnswer { get; set; }

	private async Task GetServerAnswerAsync()
	{
		Random random = new Random();
	    
		var reply = await client.SayHelloAsync(new HelloRequest {Name = random.Next().ToString()});
		ServerAnswer = reply.Message;
	}
}