@page "/films"
@using FilmService
@inject FilmServ.FilmServClient Client

<PageTitle>Films</PageTitle>

<h1>Films</h1>

<p role="status">Answer from service: @Price</p>

<button class="btn btn-primary" @onclick="(() => GetServerAnswerAsync())">Click me</button>

@code {
	private int Price { get; set; }

	private async Task GetServerAnswerAsync()
	{
		DateTime dt = DateTime.SpecifyKind(new DateTime(2013, 3, 15), DateTimeKind.Utc);
		Random random = new Random();
		
		var reply = await Client.GetFilmPriceAsync(new GetFilmPriceRequest() {FilmName = "The Witcher. The Lady of the Lake", ProducerName = "Netflix", ReleaseDate = Timestamp.FromDateTime(dt)});
		Price = reply.Price;
	}
}